<div class="form clearfix">
  <h2>Dialler</h2>
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error:      !isValidNumber() }" class="form-number clearfix"
      id="form-number" (keyup)="isValidNumber()" />
  </div>
  <div class="call-button" (click)="call()">
    Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
</div>
<div class="form clearfix">
  <h2>Chat</h2>
  <div class="form-field">
    <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
    <button (click)="sendMessage()">Send</button>
    <div *ngFor="let message of messages">
      {{message}}
    </div>
  </div>
